---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
$serif	: serif, Georgia, Times;
$sans-serif	: inherit, "Roboto", "Lucida Grande";
/* Altmetric Button Styling */
.altmetric-embed .altmetric-embed-color {
  background-color: #e4e5e6 !important; /* Replace with your desired background color */
}

/* DOI and PDF Button Styling */
/* .btn--info {
  background-color: #your-background-color; /* Replace with your desired background color */
/*  color: #your-text-color; /* Replace with your desired text color */
/*}

.btn--inverse {
  background-color: #your-background-color; /* Replace with your desired background color */
/*  color: #your-text-color; /* Replace with your desired text color */
/*}
