// _sass/minimal-mistakes/_buttons.scss

/* Custom Styles for Buttons */

/* Consistent Button Styles */
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 5px 0;
  transition: opacity 0.3s ease; /* Add transition for hover effect */
}

.btn--info {
  background-color: #007bff;
  color: #fff;
}

.btn--inverse {
  background-color: #6c757d;
  color: #fff;
}

.btn--success {
  background-color: #28a745;
  color: #fff;
}

/* Hover Effects */
.btn:hover {
  opacity: 0.8;
}

.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
  background-color: inherit;
  color: inherit;
}
